<div class="container">
    <h1 class="title">Gestion des Clients</h1>
  
    <!-- Tableau des clients -->
    <table class="client-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of listClients">
          <td>{{ client.nom }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.adresse }}</td>
          <td>{{ client.telephone }}</td>
          <td>
            <button class="btn btn-edit" (click)="onUpdateClient(client.idClient)">Modifier</button>
            <button class="btn btn-delete" (click)="onDeleteClient(client.idClient)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Bouton pour afficher le formulaire d'ajout -->
    <button class="btn btn-add" (click)="showAddForm = !showAddForm">Ajouter un Client</button>
  
    <!-- Formulaire d'ajout / modification -->
    <div *ngIf="showAddForm" class="form-container">
      <form [formGroup]="addClientForm" (ngSubmit)="onSubmitAdd()" *ngIf="showAddForm && !idClient">
        <h2>Ajouter un Client</h2>
        <label>Nom:</label>
        <input type="text" formControlName="name" placeholder="Nom du client">
  
        <label>Email:</label>
        <input type="email" formControlName="email" placeholder="Email du client">
  
        <label>Adresse:</label>
        <input type="text" formControlName="address" placeholder="Adresse du client">
  
        <label>Téléphone:</label>
        <input type="text" formControlName="telephone" placeholder="Téléphone du client">
  
        <button type="submit" class="btn btn-submit">Ajouter</button>
      </form>
  
      <form [formGroup]="updateClientForm" (ngSubmit)="onSubmitUpdate()" *ngIf="showAddForm && idClient">
        <h2>Modifier un Client</h2>
        <label>Nom:</label>
        <input type="text" formControlName="name" placeholder="Nom du client">
  
        <label>Email:</label>
        <input type="email" formControlName="email" placeholder="Email du client">
  
        <label>Adresse:</label>
        <input type="text" formControlName="address" placeholder="Adresse du client">
  
        <label>Téléphone:</label>
        <input type="text" formControlName="telephone" placeholder="Téléphone du client">
  
        <button type="submit" class="btn btn-submit">Modifier</button>
      </form>
    </div>
  </div>